

/*--- menu 
-----------------------------------*/
#mainMenu {float:left; width:100%; position:relative; z-index:1000;}
ul.menu {
	float:left; width:100%; height:53px; background:url('../images/material/bg_menu.png') no-repeat; position:relative;
	}
ul.menu li{float:left;}
ul.menu li.Right{float:right;}
ul.menu li .line{float:left; width:2px; height:53px; background:url(../images/material/line_menu.jpg) no-repeat;}
ul.menu li a{display:block; color:#fff; font-size:14px; font-family:Conv_georgia; z-index:105;}
ul.menu li a:hover {text-decoration:none;}

ul.menu li a#menu1{float:left; width:74px; padding:18px 0 17px 0; text-align:center;}
ul.menu li a#menu1:hover {background:url('../images/material/bg_menuHover_first.png') no-repeat; background-position:0 0;}
ul.menu li a#menu1.active{background:url('../images/material/bg_menuHover_first.png') no-repeat; background-position:0 -53px;}

ul.menu li a#menu2{float:left; width:85px; padding:18px 0 17px 0; text-align:center;}
ul.menu li a#menu3{float:left; width:96px; padding:18px 0 17px 0; text-align:center;}
ul.menu li a#menu4{float:left; width:74px; padding:18px 0 17px 0; text-align:center;}
ul.menu li a#menu5{float:left; width:69px; padding:18px 0 17px 0; text-align:center;}
ul.menu li a#menu6{float:left; width:59px; padding:18px 0 17px 0; text-align:center;}
ul.menu li a#menu7{float:left; width:99px; padding:18px 0 17px 0; text-align:center;}

ul.menu li a#menu2:hover, 
ul.menu li a#menu3:hover, 
ul.menu li a#menu4:hover, 
ul.menu li a#menu5:hover, 
ul.menu li a#menu6:hover, 
ul.menu li a#menu7:hover
{background:url('../images/material/bg_menuHover.png') repeat-x; background-position:0 0;}

ul.menu li a#menu2.active, 
ul.menu li a#menu3.active, 
ul.menu li a#menu4.active, 
ul.menu li a#menu5.active, 
ul.menu li a#menu6.active,
ul.menu li a#menu7.active
{background:url('../images/material/bg_menuHover.png') repeat-x; background-position:0 -53px;}

ul.menu li a#menu8{
	float:right; width:70px; padding:18px 0 17px 0; text-align:center; 
	background:url('../images/material/bg_menuHover_last.png') no-repeat; background-position:0 0px;}
ul.menu li a#menu8:hover {background:url('../images/material/bg_menuHover_last.png') no-repeat;}
ul.menu li a#menu8.active{background:url('../images/material/bg_menuHover_last.png') no-repeat; background-position:0 -53px;}

ul.menu li.menu2:hover,
ul.menu li.menu3:hover,
ul.menu li.menu4:hover,
ul.menu li.menu5:hover,
ul.menu li.menu6:hover,
ul.menu li.menu7:hover
 {background:url('../images/material/bg_menuHover.png') repeat-x; background-position:0 0;}	

.line_bottomMenu {float:left; width:100%; height:5px; background:#3FADDE;}
/*--- end menu 
-----------------------------------*/


/*menu dropdown */
ul.menu ul {display:none; position:absolute; top:100%; left:0px; z-index:598; width: 100%;}
ul.menu ul li {float: none;}
ul.menu ul ul {top: 1px;left: 99%;}
ul.menu li:hover > ul { display:block;}

ul.menu,
ul.menu li,
ul.menu ul {list-style:none; margin: 0; padding: 0;}
ul.menu {position: relative; z-index: 597; float: left;}
ul.menu li {float:left; line-height:18px; vertical-align: middle;}
ul.menu li.hover,
ul.menu li:hover {position: relative; z-index:599; cursor:pointer;}

ul.menu ul.drop {
	width:150px; position:absolute; background:#00376d; font-size:12px; padding:0 10px; border-bottom:3px solid #1d8ecf; }
ul.menu ul.drop li {border-bottom:1px dotted #46729e; padding:7px 0;}
ul.menu ul.drop li.noBor {border-bottom:0px dotted #46729e; padding-bottom:15px;}
ul.menu ul.drop li a {display:block; font-family: 'Conv_georgiai'; font-size:12px;}
ul.menu ul.drop li a:hover {color:#1d8ecf; display:block;}










