/**
    * CSS Helper
    * Reduce your wasting time wile developing web rapid system
    * Decorated By Daniel Simangunsong
**/

a { text-decoration: none; }

.justify{ text-align: justify; }
.center { text-align: center; }
.left   { text-align: left; }
.right  { text-align: right; }

.fl  { float: left; }
.fr { float: right; }
.clear  { clear: both; height: 1px; } 

.ls1    { height: 1px; }
.ls2    { height: 2px; }
.ls3    { height: 3px; }
.ls4    { height: 4px; }
.ls5    { height: 5px; }
.ls6    { height: 6px; }
.ls7    { height: 7px; }
.ls8    { height: 8px; }
.ls9    { height: 9px; }
.ls10   { height: 10px; }
.ls11   { height: 11px; }
.ls12   { height: 12px; }
.ls13   { height: 13px; }
.ls14   { height: 14px; }
.ls15   { height: 15px; }
.ls16   { height: 16px; }
.ls17   { height: 17px; }
.ls18   { height: 18px; }
.ls19   { height: 19px; }
.ls20   { height: 20px; }
.ls21   { height: 21px; }
.ls22   { height: 22px; }
.ls23   { height: 23px; }
.ls24   { height: 24px; }
.ls25   { height: 25px; }
.ls26   { height: 26px; }
.ls27   { height: 27px; }
.ls28   { height: 28px; }
.ls29   { height: 29px; }
.ls30   { height: 30px; }


/** Font Decoration **/
.f11 { font-size: 11px; }
.f12 { font-size: 12px; }
.f13 { font-size: 13px; }
.f14 { font-size: 14px; }

.black { color: #000; }
.white { color: #fff; }
.gray  { color: gray; }

.bold { font-weight: bold; }
.italic { font-style: italic; }

.warning3 { color: red; }
.warning2 {
    background-color: #FFFFEB; color: #3F3F3F;
    padding: 5px; font-weight: bold;
}
label.error { padding-top:3px; padding-left:3px; color: #CE3006; margin:0 5px 0 5px !important;}


.spinner {
    background: transparent url(../image/system/spinner.gif) top center no-repeat;
    height: 25px; width: 25px; margin: 60px auto; display: none;
}

.transparent {
    background:transparent url('../image/system/transparent.png') top left repeat;
}


/** General Container **/
#main_body_wrapper { width: 1000px; margin:0 auto; }
/***********************/

.hidden {
    display: none;
}

.notes  {
    background-color : #fffee0;
    border           : 3px solid #b2b2b0;
    padding          : 10px;
    width            : auto;
    margin-right     : 20px;
}